
/* || General styles */
body {
  color: rgb(8, 55, 85);
}

img {
  max-width: 100%;
  height: auto;
  border: 1px solid rgb(177, 177, 177);
  display: inline-block;
  opacity: 1;
  vertical-align: middle;
}


/* || Alphabetically sorted rest classes for gallery page*/
.active_galerie {
  border: 1px solid rgba(150,147,150,1);
  border-radius: 3px;
  padding: 3px;
}

.button_container {
  margin-bottom: 3rem;
}

.gallery_links_container {
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  margin-top: 4rem;
  margin-bottom: 3rem;
}

.gallery_links_container li {
  display: inline-block;
}

.gallery_links_container li a {
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 0.8rem;
  color: rgba(150,147,150,1);
  cursor: pointer;
}

.gallery_links_container li a:hover {
  text-decoration: underline;
  color: rgb(105, 105, 105);
}

.gallery_links_container ul {
  list-style-type: none;
  margin: 0 auto;
  width:50%;
  background-attachment: red;
}

.hide {
  display: none;
}

.img_container {
  position: relative;
  -webkit-box-flex: 70%;
  -ms-flex: 70%;
  flex: 70%;
  max-width: 70%;
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2),
    0 0 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem 0.5rem;
  -webkit-transition: all 0.3s ;
  -o-transition:all 0.3s ;
  -webkit-transition:-webkit-all 0.3s;
  transition:-webkit-all 0.3s;
  -webkit-transition:all 0.3s ;
  transition:all 0.3s ;
  transition:all 0.3s, -webkit-all 0.3s;
}

.img_container .magnify {
  opacity: 0;
}

.middle {
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  opacity: 1;
  position: absolute;
  bottom: 0.7rem;
  text-align: center;
  background-color: rgba(150,147,150,0.5);
  width: 100%;
  padding: 0.1rem;
  line-height: 1.5rem;
  color: rgba(42, 42, 42, 0.8);
  font-size: 0.8rem;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.show {
  display: inline-block;
}

.window_gallery_img {
  margin: 0 auto;
  position: relative;
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  opacity: 1;
}


/* || IDs for the gallery only purpose*/
#close {
  cursor: pointer;
  height: auto;
  display: block;
  margin-right: 1rem;
  font-size: 2rem;
  color: white;
  text-align: right;
}

#close:hover {
  color: rgb(145, 146, 147);
}

#close_text {
  font-size: 1rem;
}

#detail {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#detail_img {
  height: 80vh;
  bottom: 3rem;
}

#wrap {
  display: grid;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}


/* || Small size devices */
@media only screen and (min-width: 600px) {
  .img_container {
    -webkit-box-flex: 40%;
    -ms-flex: 40%;
    flex: 40%;
    max-width: 40%;
    height: 100%;
    cursor: pointer;
  }

  .middle{
    opacity: 0;
  }
  
  .img_container:hover .middle {
    opacity: 1;
  }

  .img_container:hover .magnify {
    opacity: 1;
  }
  
  .row {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .img_container:hover {
    -webkit-box-shadow: 0px 1px 10px 5px rgba(150,147,150,1);
    box-shadow: 0px 1px 10px 5px rgba(150,147,150,1);
  }
  .img_container:hover img {
    opacity: 0.8;
  }
}


/* || Medium size devices*/
@media only screen and (min-width: 768px) {
  .img_container {
    -webkit-box-flex: 25%;
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    height: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .img_container {
    -webkit-box-flex: 20%;
    -ms-flex: 20%;
    flex: 20%;
    max-width: 20%;
    height: 100%;
  }
}